{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="container">
  <div class="page-banner">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <nav aria-label="Breadcrumb">
          <ul class="breadcrumb justify-content-center py-0 bg-transparent">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Log In</li>
          </ul>
        </nav>
        <h1 class="text-center">Login</h1>
      </div>
    </div>
  </div>
</div>
<div  class="container mb-5 mt-5">
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Log in</button>
</form>
<br>
<a href="{% url 'account_reset_password' %}">Forgot Password?</a>
</div>
{% endblock content %}