{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container">
  <div class="page-banner">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <nav aria-label="Breadcrumb">
          <ul class="breadcrumb justify-content-center py-0 bg-transparent">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Password Reset</li>
          </ul>
        </nav>
        <h1 class="text-center">Password Reset</h1>
      </div>
    </div>
  </div>
</div>
<div  class="container mb-5 mt-5">
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form | crispy }}
  <button class="btn btn-primary" type="submit">Reset Password</button>
</form>
</div>
{% endblock content %}
