{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}

{% block content %}
<div class="container">
  <div class="page-banner">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <nav aria-label="Breadcrumb">
          <ul class="breadcrumb justify-content-center py-0 bg-transparent">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Passworrd Set</li>
          </ul>
        </nav>
        <h1 class="text-center">Password Set</h1>
      </div>
    </div>
  </div>
</div>
<div  class="container mb-5 mt-5">
<form method="POST" action="" class="password_set">
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit" name="action" value="Set Password">Change
    Password</button>
  </div>
</form>
</div>
{% endblock content %}
