{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container">
  <div class="page-banner">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <nav aria-label="Breadcrumb">
          <ul class="breadcrumb justify-content-center py-0 bg-transparent">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Change Password</li>
          </ul>
        </nav>
        <h1 class="text-center">Change Password</h1>
      </div>
    </div>
  </div>
</div>

  <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

  {% if token_fail %}
    <p>The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
  {% else %}
    {% if form %}
    <div  class="container mb-5 mt-5">
      <form method="POST" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">Change Password</button>
      </form>
    </div>
    {% else %}
        <p>Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock content%}
